.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.icon {
  width: 35px;
  height: 27px;
  background: url("../../assets/logo-bg.png") no-repeat center/cover;
  margin: 0 1.5rem;
  margin-top: 12px;
}

.title {
  flex: 1;
  height: 100%;
}

.time {
  width: 16rem;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.logo-time {
  height: 22px;
  width: 21px;
  margin-top: 14px;
  background: url("../../assets/time.png") no-repeat center/cover;
}

.logo-logout {
  height: 23px;
  width: 19px;
  margin-top: 14px;
  margin-right: 18px;
  background: url("../../assets/logout.png") no-repeat center/cover;
  cursor: pointer;
}