.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.icon {
  width: 35px;
  height: 27px;
  background: url("../../assets/logo-bg.png") no-repeat center/cover;
  margin: 0 1.5rem;
  margin-top: 12px;
}

.title {
  flex: 1;
  height: 100%;
}

.time {
  width: 16rem;
  height: 100%;
  vertical-align: middle;
}