.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background: url("../../assets/login-bg.png") no-repeat center/cover;
}

.header {
  flex: 1;
  height: 120px;
  line-height: 120px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
}

.logo {
  background: url("../../assets/logo-bg.png") no-repeat center/cover;
  width: 69px;
  height: 53px;
  margin: 0 2rem;
  margin-top: 35px;
}

.title {
  font-size: 55px;
  color: white;
  font-weight: bold;
}

.form {
  width: 20rem;
  height: 15rem;
  margin: 0 auto;
  margin-top: 20%;
  margin-right: 10rem;
}

.form-title {
  color: white;
  font-size: 2rem;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
}