.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  width: 100vw;
  height: 51px;
  line-height: 51px;
  background-color: #051327;
  color: white;
  font-size: 22px;
}

.body {
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.menu {
  height: 100%;
  width: 200px;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.content {
  height: 100%;
  flex: 1;
  padding: 40px;
  overflow: auto;
  background: rgb(237,241,242);
}